/node_modules
/.idea
*.iml

/dist
/docs

# Currently only used for testing and exploration purposes.
/web
/modules
/custom-api

tests.ts


# Ignore local and/or temporary data files
*.json
!package.json
!package-lock.json
!tsconfig.json
!.prettierrc.json
!typedoc.json


# Ignore Coverage files
coverage


# Ignore sensitive content
.env


